// ////////////////////////////////////////////////////////////////////
// Unclassed HTML elements, H1-H6, basic links, lists, last layer we
// see type selectors e.g a {}, blockquote {}
// ////////////////////////////////////////////////////////////////////

html {
  @include typi-base(); // Initialise typi responsive type
}

body {

}

h1 {
  @include typi($h1-map); // Invoke typi typography settings map
  margin: vr(1.5) 0; // Typi vertical rhythm
}
