// ////////////////////////////////////////////////////////////////////
// Globally available settings, config switches, brand colours etc.
// ////////////////////////////////////////////////////////////////////

// Variables
// ====================================================== //

$ui-spacing-unit: null;

// Colours
// ====================================================== //

// Colour map example setup, see public mixins for how to apply.
$colors: (

	'primary': (
    base: null
	)

);

// Fonts
// ====================================================== //

	// Font map example setup, see public mixins for how to apply.
	$fonts: (

		'primary': (
			regular: null
		)

	);

// Typography - https://github.com/zellwk/typi
// ====================================================== //

	// $fontsize, $line-height

	$typi: (
	  null: (16px, 1.5),
	  small: 16px,
	  medium: 18px,
	  large: 22px,
	  x-large: 28px
	);

	// Additional font maps

	$h1-map: (
		null: 1.5em,
		small: 1.5em,
		medium: 1.8em,
		large: 2em,
		x-large: 2.2em
	);

// Breakpoints - https://github.com/zellwk/mappy-breakpoints
// ====================================================== //

	// Usage examples

	// @include mapp-bp(medium) -- min width breakpoint when size is the only // argument passed

	// @include mappy-bp() -- min AND max width breakpoint when two size		// arguments are passed

	// @include mappy-bp(max large) -- max width breakpoint, pass max as 			// first argument and then the size

	$breakpoints: (
	  'small': 320px,
	  'medium': 640px,
	  'large': 920px,
	  'x-large': 1200px
	);
