- var page_title = 'home';

html.no-js
	head
	
		block base_variables
			- var title = title || "Default Title Here"

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title} | Gulp project base
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		block styles
			link(rel="stylesheet" href="css/styles.css")
			
		block header_scripts
			script(src="js/modernizr/modernizr.js")

		body
			block content

		block footer_scripts
			script(src="js/init.js")
